video{
  width: 100%;
  height: 100%;
}
.moviel{
  margin: 0% 10%;
}
.movieslist>h1{
  font-family:cursive;
  margin-top: 2%;
}
.search{
  display: flex;
  flex-direction: row;
   align-items: center;
}
.film{
  display: flex;
  align-items: center;
}
.film>img{
  margin-left:5%;
  margin-right: 5%;
  margin-top: -7%;
}
.film>h1{
  font-family: cursive;
  margin-left: 3%;
  color: #FCC419;
}
.navb{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgba(0, 0, 0, 0.747);
}

.navb>div{
   margin-right: 2%;
}
.button-30{
  background-color:white;
  border-radius: 12px;
  color:black;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  box-sizing: border-box;
  border: 5px;
  font-size: 10px;
  margin:10px;
}

.button-32 {
  background-color: #fff700e3;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  box-sizing: border-box;
  border: 0;
  font-size: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button-32:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}
.App {
  text-align: center;
}
.cards{
  display: flex;
  flex-wrap: wrap;
}
.card{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
